.background{
  background-image:url("golf.jpg");
}

.page-header{
  align-items: center;
  text-align: center;
  color: #D4AF37;
  background-color: white;
  font-size: 500%;
}

@keyframes responsive {
  0%, 100% {
    width: 100%;
  }
  50% {
    width: 110px;
  }
}
#map{
  // max-width: 50%;
  // height: 50%;
  height: 400px;
}
#usersdate{
font-size: 140%;

}
.search_tee_time_date{
width:100%;
height: 100%;
font-size: 180%;
text-align: center;
}
.table_container{
// width: 60%;
text-align: center;
margin-top: 20px;
}

.table_header{
  text-align: center;
}
.extra_styling_form{
text-align: center;
align-items: center;
width: 100%;
}

.form_select_date_fields{
font-size: 150%;
  margin-top: 60px;
  text-align: left;
  color: #D4AF37;
  background-color: white;
}

.form_select_date_fields label{
font-size: 130%;
overflow: hidden;
white-space: nowrap;
color: #D4AF37;
}
.dropdown{
  background-color: blue;
  color: #D4AF37;
}

#search input{
background: none;
border: none;
font-size: 200%;
color: #D4AF37;
}

td{
  color: #D4AF37;
}

th{
  color: #D4AF37;
  background-color: white;
}
tbody{
  background-color: white;
  border-radius: 20px;
}
.btn.btn-primary.book{
  background-color: white;
  border-color: #D4AF37;
  color: #D4AF37;
}
#CourseInformationTable_filter {
  color: #D4AF37;
}
#CourseInformationTable_filter input {
  color: #D4AF37;
}
li.paginate_button.active a {
  background-color: #D4AF37 !important;
  border-color: #D4AF37 !important;
}
li.paginate_button:not(.active) a {
  color: #D4AF37 !important;
}
.pagination>li>a, .pagination>li>span {
  border: 1px solid #D4AF37 !important;
}
#CourseInformationTable_info {
  color: #D4AF37 !important;
}
.row.extra_styling_form{
  background-color: white;
  border-radius: 40px;
}

.weatherwidget-io{
  margin-top: 0px;
}

.col-md-4.date_picker{
text-align: left;
}

#container{
  margin-top: -40px;
  margin-bottom: 20px;
}
