<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.github.com/willstone109">MiamiGolf</a>
      by <a href= "https://www.github.com/willstone109">Will Stone </a>
      by <a href= "https://www.github.com/petter123456">Petter Fagerlund </a>
      by <a href= "https://www.linkedin.com/in/alexis-soto-095377b2/">Alex Soto </a>
    </small>
    <nav>
      <ul>
        <li>
          <%#= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>
