<!DOCTYPE html>
<html>
  <head>
    <title>MiamiGolf</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://js.stripe.com/v3/"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
    <title>MiamiGolf Map</title>
    <style>

    </style>
  </head>

  <body>

    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNCexbhzCuZ7i0cSrjhzs64mYCYm4qKrU&callback=initMap"
        async defer></script>



      <!-- GOOGLE MAPS API -->
    <!-- <div id= "map"></div> -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
    <script>
      function initMap() {

        // MAP OPTIONS
        var options = {
          zoom:10,
          center:{lat:25.7617 ,lng:-80.1918 }
        }

        // NEW MAP
        var map = new
        google.maps.Map(document.getElementById('map'), options);

        // ADD MARKER
        // var marker = new google.maps.Marker({
        //   position: {lat:25.7997119, lng:-80.1381364},
        //   map: map
        // });
        // CourseName Miami Beach Golf Club
        addMarker({
          coords:{lat:25.7997119, lng:-80.1381364},
          content:'<h3><Miami Beach Golf Club</h3>'
        });
        // CourseName Miami Shores Country Club
        addMarker({
          coords:{lat:25.8690395355225, lng:-80.1758575439453},
          content:'<h3>Miami Shores Country Club</h3>'
        });
        // CourseName Normandy Shores Golf Club
        addMarker({
          coords:{lat:25.8563316, lng:-80.1444123},
          content:'<h3>Normandy Shores Golf Club</h3>'
        });
        // CourseName Crandon Golf at Key Biscayne
        addMarker({
          coords:{lat:25.7116317749023, lng:-80.1559371948242},
          content:'<h3>Crandon Golf at Key Biscayne</h3>'
        });
        // CourseName Trump National Doral Golf Club - Blue Monster/Red Tiger
        addMarker({
          coords:{lat:25.8141384124756, lng:-80.3383636474609},
          content:'<h3>Trump National Doral Golf Club - Blue Monster/Red Tiger</h3>'
        });
        // CourseName Trump National Doral Golf Club - Golden Palm
        addMarker({
          coords:{lat:25.8188343048096, lng:-80.3438339233398},
          content:'<h3>Trump National Doral Golf Club - Golden Palm</h3>'
        });
        // CourseName Costa Del Sol Golf Club
        addMarker({
          coords:{lat:25.8071892, lng:-80.3593091},
          content:'<h3>Costa Del Sol Golf Club</h3>'
        });
        // CourseName The Senator Course at Don Shula's Golf Club
        addMarker({
          coords:{lat:25.91492, lng:-80.32217},
          content:'<h3>The Senator Course at Don Shulas Golf Club</h3>'
        });
        // CourseName Greynolds Golf Course
        addMarker({
          coords:{lat:25.9380550384521, lng:-80.150749206543},
          content:'<h3>Greynolds Golf Course</h3>'
        });
        // CourseName Country Club of Miami - East/West
        addMarker({
          coords:{lat:25.942086, lng:-80.313482},
          content:'<h3>Country Club of Miami - East/West</h3>'
        });
        // CourseName Briar Bay Golf Course
        addMarker({
          coords:{lat:25.6452579498291, lng:-80.346305847168},
          content:'<h3>Briar Bay Golf Course</h3>'
        });
        // CourseName Palmetto Golf Course
        addMarker({
          coords:{lat:25.628776550293, lng:-80.3447265625},
          content:'<h3>Palmetto Golf Course</h3>'
        });
        // CourseName Miccosukee Golf and Country Club
        addMarker({
          coords:{lat:25.70674, lng:-80.427912},
          content:'<h3>Miccosukee Golf and Country Club</h3>'
        });
        // CourseName Orangebrook Golf & Country Club - East/West
        addMarker({
          coords:{lat:26.006221, lng:-80.173772},
          content:'<h3>Orangebrook Golf & Country Club - East/West</h3>'
        });
        // "CourseName Pembroke Lakes Golf Club
        addMarker({
          coords:{lat:26.0187034, lng:-80.2867467},
          content:'<h3>Pembroke Lakes Golf Club</h3>'
        });
        // "CourseName Grand Palms Hotel & Golf Resort - Grand/Royal/Sabal"
        addMarker({
          coords:{lat:26.00351715087894, lng:-80.3539886474609},
          content:'<h3>Grand Palms Hotel & Golf Resort - Grand/Royal/Sabal"</h3>'
        });
        // CourseName The Club at Emerald Hills
        addMarker({
          coords:{lat:26.041878, lng:-80.186002},
          content:'<h3>The Club at Emerald Hills</h3>'
        });
        // "CourseName Davie Golf Club"
        addMarker({
          coords:{lat:26.0905151367188, lng:-80.257926940918},
          content:'<h3>Davie Golf Club</h3>'
        });
        // "CourseName Bonaventure Golf Club"
        addMarker({
          coords:{lat:26.1210426, lng:-80.3707282},
          content:'<h3>Bonaventure Golf Club</h3>'
        });
        // "CourseName The Bridges at Springtree Golf Club"
        addMarker({
          coords:{lat:26.1707188, lng:-80.258137},
          content:'<h3>The Bridges at Springtree Golf Club</h3>'
        });
        // "CourseName Colony West Country Club - Championship/Glades"
        addMarker({
          coords:{lat:26.2060006, lng:-80.2671375},
          content:'<h3>Colony West Country Club - Championship/Glades</h3>'
        });
        // "CourseName Woodmont Country Club - Cypress/Cypress 2/Pines"
        addMarker({
          coords:{lat:26.2177672, lng:-80.2602096},
          content:'<h3>Woodmont Country Club - Cypress/Cypress 2/Pines</h3>'
        });
        // "CourseName Palm Aire Country Club & Resort - Oaks Course/Palms Course/Cypress Course"
        addMarker({
          coords:{lat:26.2249547, lng:-80.1575119},
          content:'<h3>Palm Aire Country Club & Resort - Oaks Course/Palms Course/Cypress Course</h3>'
        });
        // "CourseName Carolina Golf Club"
        addMarker({
          coords:{lat:26.263708114624, lng:-80.2231750488281},
          content:'<h3>Carolina Golf Club</h3>'
        });
        // "CourseName Heron Bay Golf Club"
        addMarker({
          coords:{lat:26.321114, lng:-80.291848},
          content:'<h3>Heron Bay Golf Club</h3>'
        });
        // "CourseName Boca Dunes Golf and Country Club - Championship"
        addMarker({
          coords:{lat:26.337224, lng:-80.19516},
          content:'<h3>Boca Dunes Golf and Country Club - Championship</h3>'
        });
        // "CourseName Southwinds Golf Course"
        addMarker({
          coords:{lat:26.3879318237305, lng:-80.1877365112305},
          content:'<h3>Southwinds Golf Course</h3>'
        });
        // "CourseName Lakeview Golf Club"
        addMarker({
          coords:{lat:26.4405161, lng:-80.1060064},
          content:'<h3>Lakeview Golf Club</h3>'
        });
        // "CourseName Delray Beach Golf Club"
        addMarker({
          coords:{lat:26.4537489, lng:-80.09832},
          content:'<h3>Delray Beach Golf Club</h3>'
        });
        // "CourseName Cypress Creek Country Club"
        addMarker({
          coords:{lat:26.53699, lng:-80.12163},
          content:'<h3>Cypress Creek Country Club</h3>'
        });
        // "CourseName Winston Trails Golf Club"
        addMarker({
          coords:{lat:26.5799563, lng:-80.1408332},
          content:'<h3>Winston Trails Golf Club/h3>'
        });
        // "CourseName Park Ridge Golf Course"
        addMarker({
          coords:{lat:26.5930224, lng:-80.193971},
          content:'<h3>Park Ridge Golf Course</h3>'
        });
        // "CourseName Forest Oaks Golf Club"
        addMarker({
          coords:{lat:26.61039954, lng:-80.1622404},
          content:'<h3>Forest Oaks Golf Club</h3>'
        });
        // "CourseName Palm Beach National Golf & Country Club"
        addMarker({
          coords:{lat:26.6253645, lng:-80.1651372},
          content:'<h3>Palm Beach National Golf & Country Club</h3>'
        });
        // "CourseName Poinciana Golf Club"
        addMarker({
          coords:{lat:26.6248016357422, lng:-80.1541900634766},
          content:'<h3>Poinciana Golf Club</h3>'
        });
        // "CourseName Okeeheelee Golf Course - Eagle/Osprey"
        addMarker({
          coords:{lat:26.6511338, lng:-80.1671694},
          content:'<h3>Okeeheelee Golf Course - Eagle/Osprey</h3>'
        });
        // "CourseName West Palm Beach Golf Club"
        addMarker({
          coords:{lat:26.6499099, lng:-80.065704},
          content:'<h3>West Palm Beach Golf Club</h3>'
        });
        // "CourseName Madison Green Golf Club"
        addMarker({
          coords:{lat:26.71328, lng:-80.237528},
          content:'<h3>Madison Green Golf Club</h3>'
        });
        // "CourseName Village Golf Club"
        addMarker({
          coords:{lat:26.71632, lng:-80.226501},
          content:'<h3>Village Golf Club</h3>'
        });
        // "CourseName Sandhill Crane Golf Club"
        addMarker({
          coords:{lat:26.8121223449707, lng:-80.2190856933594},
          content:'<h3>Sandhill Crane Golf Club</h3>'
        });
      // ADD MArker function
          function addMarker(props){
            var marker = new google.maps.Marker({
              position:props.coords,
              map:map,
              content:props.content
            });

            if(props.content){
              var infoWindow = new google.maps.InfoWindow({
                content:props.content
              });

              marker.addListener('click', function(){
                infoWindow.open(map, marker);
              });
            }
          }
      }
    </script>
    </div>
  </body>
</html>
